@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "./tokens.scss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  color: $text-default-color;
  font-family: $text-default-font-family;
  font-size: $text-default-font-size;
}

.subtitle {
  margin-bottom: 0px;
  text-align: center;
}

.title {
  margin: 0 0 1em 0;
  color: $color-title;
  text-align: center;
}

.text {
  margin-top: 0px;
  margin-bottom: 2em;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2em;
}

.card {
  padding: 1ex;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-top: 3px solid $text-default-color;

  &--title {
    color: $color-title;
    margin: 0;
  }
  &--text {
    margin-top: 0;
  }
  &--icon {
    text-align: right;
    padding: 10px 20px;
  }
}

.green {
  border-top-color: $color-primary-cyan;
}

.red {
  border-top-color: $color-primary-red;
}

.orange {
  border-top-color: $color-primary-orange;
}

.blue {
  border-top-color: $color-primary-blue;
}

@media screen and (min-width: $md-device) {
  .grid {
    grid-template-columns: auto auto auto;
    align-items: center;

    &--cell--1 {
      grid-area: 1 / 1 / 3 / 2;
    }
    &--cell--4 {
      grid-area: 1 / 3 / 3 / 4;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
