$sm-device: 375px;
$md-device: 1440px;

//## Colors

//### Primary
$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orange: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);

//Neutral
$color-neutral-dark-blue: hsl(234, 12%, 34%);
$color-neutral-grayish-blue: hsl(229, 6%, 66%);
$color-neutral-light-gray: hsl(0, 0%, 98%);

$color-title: $color-neutral-dark-blue;
$color-text: $color-neutral-grayish-blue;
$color-background-back: $color-neutral-light-gray;

//##Test

$text-default-color: $color-text;
$text-default-font-size: 15px;
$text-default-font-family: "Poppins";


